<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">New attribute definition</p>

<%= render "form", attribute_definition: @attribute_definition %>

<br>

<div>
  <%= link_to "Back to attribute definitions", attribute_definitions_path %>
</div>
