<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Editing category</p>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Show this category", @category %> |
  <%= link_to "Back to categories", categories_path %>
</div>
